.ipynb_checkpoints/
jupyter_files/
__pycache__/*
sensor_fusion_testing/test_results/*
sensor_fusion_testing/__pycache__/*
sensor_fusion_testing/ml_data/*
real-time-carla-kalman-filter/*
.cursor/*
.env
venv/
sensor_fusion_testing/environment.yml
__pycache__
innovation_aware_attack_results_*.json
sensor_fusion_testing/integration_files/__pycache__/advanced_kalman_filter.cpython-310.pyc
sensor_fusion_testing/integration_files/__pycache__/gps_spoofer.cpython-310.pyc
sensor_fusion_testing/integration_files/__pycache__/sensor_fusion.cpython-310.pyc
.cursorrules
reports/*
gps_only_test_results/*
gps_vs_fusion_comparison.json